#fourth{
    .wrapper{
        padding: 48px 0;
        .top{
            display: flex;
            flex-direction: column;
            gap: 48px;
            .texts{
                display: flex;
                flex-direction: column;
                gap: 24px;
                h4{
                    font-family: Extrabold;
                    font-size: 32px;
                    color: #0F1826;
                }
                p{
                    font-family: Semibold;
                    color: #607987;
                }
            }
            .cards{
                width: 1118px;
                display: flex;
                flex-wrap: wrap;
                gap: 31px;
                .card{
                    width: 160px;
                    height: 100px;
                    border-radius: 8px;
                    padding: 16px 12px;
                    background-color: #F9F8F7;
                    .icons{
                        width: 136px;
                        height: 68px;
                    }
                }
            }
          
        }
        .bottom{
            padding: 40px 0 60px 0;
            .texts{
                display: flex;
                flex-direction: column;
                gap: 24px;
                h4{
                    font-family: Extrabold;
                    font-size: 32px;
                    color: #0F1826;
                }
                p{
                    font-family: Semibold;
                    color: #607987;
                }
            }
            .trio{
                width: 1118px;
                display: flex;
                align-items: center;
                gap: 23.5px;
                padding: 0 11.75px;
                &:first-child{
                    width: 232px;
                    height: 420px;
                    background-image: url("../../assets/images/abdumannof.png");
                    opacity: 50%;
                    padding: 16px 16px 19.19px 16px;
                }
                &:nth-child(2){
                    width: 232px;
                    height: 420px;
                    background-image: url("../../assets/images/salohiddin.png");
                    padding: 16px 16px 19.19px 16px;
                }
                &:nth-child(3){
                    width: 232px;
                    height: 420px;
                    background-image: url("../../assets/images/shahzoda.png");
                    opacity: 50%;
                    padding: 16px 16px 19.19px 16px;
                }
                &:nth-child(4){
                    width: 232px;
                    height: 420px;
                    background-image: url("../../assets/images/sayfullo.png");
                    opacity: 50%;
                    padding: 16px 16px 19.19px 16px;
                }
            }
        }
    }
}